.icona {
  width: 100px;
  margin-top: 30px;
}

.top-home {
  display: flex;
  justify-content: center;
  h1 {
    margin-top: 10px;
    font-size: 60px;
    font-family: 'Fasthand', cursive;
  }
}

.d-flex{
  text-align:right;
}

nav {
  margin-left: 250px;
  font-size: 20px;
}

div#contenitore-header {
  background-color: white;
  width: 100%;
  padding: 5px;
}

.colonna-left {
  width: 10.95%;
  position: absolute;
  top: 3.7%;
}

header {
  background-color: black;
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.cornice {
  position:absolute;
}

li.nav-item.user {
  margin-left: 60px;
  border: 1px solid #ffffff42;
  border-radius: 8px;
  padding: 0px 20px;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  .logged {
    margin-bottom: 11px;
    margin-right: 3px;
  }

  a.nav-link {
    display: inline-block;
  }
}
