.mio-carousel {
  // position: absolute;
  top:40%;
  left:35%;
}

.description {
  // background-image: url("../../../assets/images/cornice2_1.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 20px;
  margin-top: 40px;
}

h2 {
  font-family: 'Fasthand', cursive;
  font-size: 40px;
}

.description {
  border-radius: 5px;
}
