<app-carousel class="mio-carousel"></app-carousel>
<div class = "description">
  <h2>Because your opinion matters</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quasi atque laudantium accusantium eos tempora necessitatibus porro doloremque, facilis labore placeat ex libero voluptatem hic autem, debitis ipsam dolores itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ullam laboriosam nisi saepe nihil, tenetur pariatur sapiente ad, cum eius reprehenderit illum est consequuntur et dicta fugit. Quis, itaque culpa!
  </p>
</div>
