.sfondo {
  background-image: url('../assets/images/sfondo.jpg');
  width: 100%!important;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 40px;
}
