<header>
  <div class="top-home">
    <img src="../assets/images/icona_mia.png" class="icona">
  </div>
  <div class="top-home">
    <h1>Welcome to ReAd Nauseam</h1>
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><mat-icon>home</mat-icon> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>fingerprint</mat-icon> Login/Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><mat-icon>account_balance</mat-icon> Reviews</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>assignment</mat-icon>Categories
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Thriller</a></li>
              <li><a class="dropdown-item" href="#">Classics</a></li>
            </ul>
          </li>
          <form class="d-flex" role="search" style="text-align:right;">
            <input class="form-control me-2" type="search" placeholder="Search book" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
  <div>
    <img src="../assets/images/sfondo.jpg" class="sfondo" style="width:100%;">
  </div>
  <div>
    <ngb-carousel *ngIf="images" style="width:100px;height:50px;">
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="picsum-img-wrapper">
          <img [src]="percorso + image.id + '.jpg'" [alt]="image.label" />
        </div>
        <div class="carousel-caption">
          <h3>{{image.label}}</h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</body>
<router-outlet></router-outlet>
