html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-control-prev {
  margin-left: 31%!important;
}

.carousel-control-next {
  margin-right: 29%!important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
