html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carousel-control-prev {
  margin-left: 31%!important;
}

.carousel-control-next {
  margin-right: 29%!important;
}

// .btn.btn-primary {
//   margin-left: 42%;
//   margin-top: 30px;
//   width: 200px;
//   background-color: black;
//   border: solid grey;
// }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
