<div class="container">
  <div class="logo">
    <img src="../../assets/images/book-icon.svg" class="icon">
    <h3 class="scritta">ReAd Nauseam</h3>
  </div>


  <div class="left section">
    <h2>About Us</h2>
    <div class="content">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est numquam inventore, tenetur maiores dolorum aliquam quos, dolores facilis consequatur deserunt sapiente.</p>
    </div>
  </div>

  <div class="center section">
    <h2>Contact Us</h2>
    <div class="content">
      <div class="place">
        <span class="fas fa-map-marker-alt"></span>
        <span class="text"> Rome, ITALY</span>
      </div>
      <div class="phone">
        <span class="fas fa-phone-alt"></span>
        <span class="text"> 0983 4575164</span>
      </div>
      <div class="email">
        <span class="fas fa-envelope"></span>
        <span class="text"> contact@example.com</span>
      </div>
    </div>
  </div>
</div>
<div class="copyright"><span>© 2023 ReAd Nauseam srl | All Rights Reserved</span></div>
